/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/pickup_background.jpg") fixed no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-size: 14px; }

.original {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  color: yellow;
  padding-top: 25px;
  line-height: 35px; }
  .original h1 {
    text-transform: uppercase; }
  .original h3 {
    font-style: italic; }

.fixed-header {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  transition: background-color 0.9s ease;
  opacity: 0.9; }

.about {
  color: white;
  text-align: center;
  padding: 80px 0px 40px 0px;
  line-height: 28px;
  font-size: 20px; }

.quote {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 28px; }
  .quote .obs {
    font-size: 12px; }

.form {
  color: yellow;
  padding-left: 28rem;
  line-height: 35px;
  font-size: 16px; }
  .form .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form .container input {
      width: 50%;
      padding: 5px;
      background: white; }
    .form .container textarea {
      width: 49%;
      padding: 10px;
      background: white; }
    .form .container a input:hover {
      color: yellow; }
    .form .container .formbutton {
      font-size: 14px;
      color: white;
      background: #3A9406;
      margin-top: 20px;
      padding: 10px;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      border: 1px solid white;
      margin-left: 12rem; }

#date {
  text-align: left; }

footer {
  padding-top: 50px;
  width: 100vw;
  text-align: center; }
  footer .socialmedia i {
    color: yellow;
    font-size: 20px;
    padding-bottom: 15px; }
  footer .credits {
    color: white;
    padding-bottom: 15px; }
