@import "reset";
@import "variables";
@import "mixin";
@import "fonts";

body{
	background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../../images/pickup_background.jpg") fixed no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	font-size: 14px;
}

.original{
	width: 100vw;
	text-align: center;
	font-size: 30px;
	color: yellow;
	padding-top: 25px;
	line-height: 35px;
	h1{ text-transform: uppercase;
	}
	h3{
		font-style: italic;
	}
}

.fixed-header{
	position: fixed;
}
.about{
	color: white;
	text-align: center;
	padding-top: 800px;
    line-height: 25px;
}


.container{
	display: flex;
	flex-direction: column;
}

#date{
	text-align: center;
	input{
		color: red;
	}
}




footer{ 
	padding-top: 200px;

	width: 100vw;

	text-align: center;
}